<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивная карта районов</title>
    <link rel="stylesheet" href=" ../static/css/test.css">
</head>
<body>
    <div class="map-container">
        <!-- Оригинальная карта (задний фон) -->
        <img src="../static/img/background-map.jpg" alt="Карта" class="map-image">

        <!-- Вырезанные районы-пазлы -->
        <div class="map-object" id="district-1" data-title="Трейлерный парк">
            <a href="/main">
            <img src="../static/img/map-details/map-trailer-park.png" alt="Район 1">
            </a>
        </div>

        <div class="map-object" id="district-2" data-title="Торговый квартал">
            <a href="/shop">
            <img src="../static/img/map-details/map-store.png" alt="Район 2">
            </a>
        </div>

        <div class="map-object" id="district-3" data-title="Городской парк">
            <img src="../static/img/map-details/map-city-park.png" alt="Район 3">
        </div>

        <div class="map-object" id="district-4" data-title="Порт">
            <img src="../static/img/map-details/map-port.png" alt="Район 4">
        </div>

        <div class="map-object" id="district-5" data-title="Бар">
            <img src="../static/img/map-details/map-bar.png" alt="Район 5">
        </div>

        <div class="map-object" id="district-6" data-title="Метро">
            <img src="../static/img/map-details/map-metro.png" alt="Район 6">
        </div>
    </div>
</body>
</html>

